<p>auth works!</p>
<div class="conainer">
    <form [formGroup]="myForm" class="form" (ngSubmit)="submitData()">
        <div>
            <label for=""> Name </label>
            <input type="name" name="" formControlName="name" id="">
            <br>
            <span style="color: red;" *ngIf="name && name.invalid && name.dirty"> This input field is not valid.</span>
        </div>

        <div>
            <label for=""> Email </label>
            <input type="email" name="" formControlName="email" id="">
            <br>
            <span style="color: red;" *ngIf="email && email.invalid && email.dirty">This input field is not
                valid.</span>
        </div>
        <div>
            <label for=""> password </label>
            <input type="password" name="" formControlName="password" id="">
            <br>
            <span style="color: red;" *ngIf="password && password.invalid && password.dirty">This input field is
                invalid.</span>
        </div>



        <p style="color:#808080">Complete the form to enable button.</p>


        <button type="submit" [disabled]="!myForm.valid"> Submit</button>


        <p>Form Status: {{ myForm.status }}</p>
    </form>
</div>